<div class="flex flex-col gap-4 items-center text-center">
  <ng-lottie [options]="lottieOptions" width="120px" height="120px"></ng-lottie>

  <!-- Title -->
  <div class="text-2xl font-semibold">{{ config.data?.title }}</div>

  <!-- Message -->
  @if (config.data?.message) {
    <p class="text-surface-sub">{{ config.data?.message }}</p>
  }

  <!-- Buttons -->
  @if (config.data?.onConfirm) {
    <div class="flex items-center gap-3">
      <p-button
        severity="secondary"
        [outlined]="true"
        [style]="{ 'min-width': '80px' }"
        (onClick)="ref.close()"
      >
        ปิด
      </p-button>
      <p-button
        severity="primary"
        [style]="{ 'min-width': '120px', 'white-space': 'nowrap' }"
        (onClick)="handleConfirm()"
      >
        {{ config.data?.confirmButtonLabel ?? "ตกลง" }}
      </p-button>
    </div>
  }
</div>
