<div class="flex flex-col gap-4 items-center text-center pt-2">
  <!-- Icon -->
  <img src="images/success-image.png" alt="success" class="w-20 h-20" />

  <!-- Title -->
  <div class="text-2xl font-semibold">{{ config.data?.title }}</div>

  <!-- Message -->
  @if (config.data?.message) {
    <p class="text-surface-sub">{{ config.data?.message }}</p>
  }

  <!-- Button -->
  @if (config.data?.onConfirm) {
    <p-button
      severity="primary"
      [style]="{ 'min-width': '120px' }"
      (onClick)="handleConfirm()"
    >
      {{ config.data?.confirmButtonLabel ?? 'ตกลง' }}
    </p-button>
  }
</div>
